USE [master]
GO
/****** Object:  Database [Preseleccion]    Script Date: 19/08/2025 12:02:09 p. m. ******/
CREATE DATABASE [Preseleccion]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Preseleccion', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Preseleccion.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Preseleccion_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Preseleccion_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Preseleccion].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Preseleccion]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/08/2025 12:02:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 19/08/2025 12:02:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](max) NOT NULL,
	[Base_Servings] [int] NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Image_Path] [varchar](max) NOT NULL,
	[Source_Link] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Dishes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes_Ingredients]    Script Date: 19/08/2025 12:02:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes_Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dish_Id] [int] NULL,
	[Ingredient_Id] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_Dishes_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 19/08/2025 12:02:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Unit] [varchar](50) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 19/08/2025 12:02:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dish_Id] [int] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Time] [int] NOT NULL,
 CONSTRAINT [PK_Recipes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Bread')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Desserts')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Drinks')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([Id], [Name], [Base_Servings], [Category_Id], [Image_Path], [Source_Link], [Description], [Price]) VALUES (1, N'Stuffed Mushrooms', 5, 9, N'1.jpg', N'https://www.allrecipes.com/recipe/278271/air-fryer', N'These low-carb mushrooms are easy to make and cook in under 10 minutes in your air fryer. They make the perfect game-day snack, but also impress as a first course when having friends over for an elegant dinner.', CAST(7.25 AS Decimal(10, 2)))
INSERT [dbo].[Dishes] ([Id], [Name], [Base_Servings], [Category_Id], [Image_Path], [Source_Link], [Description], [Price]) VALUES (2, N'Homemade Flour Tortillas', 24, 1, N'2.jpeg', N'https://www.allrecipes.com/recipe/157642/homemade-', N'Traditional flour tortillas - homemade and much better than store bought. Do not substitute vegetable oil or shortening for the lard.', CAST(2.20 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes_Ingredients] ON 

INSERT [dbo].[Dishes_Ingredients] ([Id], [Dish_Id], [Ingredient_Id], [Quantity]) VALUES (1, 1, 11, 16)
INSERT [dbo].[Dishes_Ingredients] ([Id], [Dish_Id], [Ingredient_Id], [Quantity]) VALUES (2, 9, 11, 10)
INSERT [dbo].[Dishes_Ingredients] ([Id], [Dish_Id], [Ingredient_Id], [Quantity]) VALUES (3, 1, 61, 2)
GO
SET IDENTITY_INSERT [dbo].[Dishes_Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Price], [Unit], [Stock]) VALUES (1, N'Anchovy fillets', CAST(8.00 AS Decimal(10, 2)), N'piece (pcs)', 24)
INSERT [dbo].[Ingredients] ([Id], [Name], [Price], [Unit], [Stock]) VALUES (2, N'Asparagus', CAST(2.98 AS Decimal(10, 2)), N'bunch', 9)
INSERT [dbo].[Ingredients] ([Id], [Name], [Price], [Unit], [Stock]) VALUES (3, N'Avocado', CAST(48.00 AS Decimal(10, 2)), N'piece (pcs)', 4)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([Id], [Dish_Id], [Description], [Time]) VALUES (1, 1, N'Using a damp cloth, gently clean mushrooms. Remove stems and discard.', 5)
INSERT [dbo].[Recipes] ([Id], [Dish_Id], [Description], [Time]) VALUES (2, 1, N'Mince scallions and separate white and green parts.', 2)
INSERT [dbo].[Recipes] ([Id], [Dish_Id], [Description], [Time]) VALUES (3, 1, N'Combine cream cheese, Cheddar cheese, the white parts from the scallions, paprika, and salt in a small bowl. Stuff filling into the mushrooms, pressing it in to fill the cavity with the back of a small spoon.', 10)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Categories] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_Categories]
GO
ALTER TABLE [dbo].[Dishes_Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Ingredients_Dishes] FOREIGN KEY([Dish_Id])
REFERENCES [dbo].[Dishes] ([Id])
GO
ALTER TABLE [dbo].[Dishes_Ingredients] CHECK CONSTRAINT [FK_Dishes_Ingredients_Dishes]
GO
ALTER TABLE [dbo].[Dishes_Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Ingredients_Ingredients] FOREIGN KEY([Ingredient_Id])
REFERENCES [dbo].[Ingredients] ([Id])
GO
ALTER TABLE [dbo].[Dishes_Ingredients] CHECK CONSTRAINT [FK_Dishes_Ingredients_Ingredients]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_Recipes_Dishes] FOREIGN KEY([Dish_Id])
REFERENCES [dbo].[Dishes] ([Id])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_Recipes_Dishes]
GO
USE [master]
GO
